*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
}
.container{
    width: 80%;
    margin: 0 auto;
    
}
.top{
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-top: 3rem;
    margin-bottom: 5rem;
}
.bg-pattern{
    position: absolute;
    left: 67rem;
    top: -5rem;
}
.bottom p:nth-child(1){
    color: #191826;
    font-size: 5.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5.5rem; 
    letter-spacing: -0.0625rem;
    width: 63.4375rem;
    margin-bottom: 2rem;
}
.bottom p:nth-child(2){
    color: #191826;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.125rem; 
    width: 51.5625rem;
}
section{
    position: absolute;
    top: 45rem;
    width: 69.375rem;
    height: 37.5rem;
    border-radius: 0.75rem;
    background: #191826;
}
.phone{
    position: absolute;
    left: 6rem;
    top: -12rem;
    width: 17.5rem;
    height: 37.875rem;
    z-index: 1;
}
.pattern2{
    position: absolute;
    bottom: 11.5rem;
    left: 18.5rem;
}
.article{
    width: 27.875rem;
    height: 38.0625rem;
    border-radius: 0.75rem;
    background: #FA7453;
    position: absolute;
    right: 7rem;
    top: 6rem;
}
.article-info{
    width: 70%;
    margin: 2rem auto;
}
.article p:nth-child(1){
    color: #FCFAF9;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.25rem;
    width: 20.8125rem;
    margin-bottom: 2rem;
}
.article p:nth-child(2){
    color: #FCFAF9;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.125rem; 
    width: 20.8125rem;
}
.article p:nth-child(3){
    margin-top: 2rem;
    color: #FCFAF9;
    font-size: 4.0625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.25rem; 
}
.article p:nth-child(3) span{   
    color: #FCFAF9;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; 
    letter-spacing: -0.0125r;
}
.article p:nth-child(4){
    border-radius: 0.75rem;
    background: #191826;    
    width: 20.8125rem;
    height: 3.8125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.article p:nth-child(4) span{
    color: #FCFAF9;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: -0.01;
    margin-left: 1rem;
}
.article p:nth-child(5){
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20.8125rem;
    height: 3.8125rem;
    border-radius: 0.75rem;
    background: #FCFAF9;
}
.article p:nth-child(5) span{
    color: #191826;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem; 
    letter-spacing: -0.01125rem;
    margin-left: 0.5rem;
}
footer{
    width: 80%;
    display: flex;
    height: 4.9375rem;
    justify-content: space-between;
    position: absolute;
    top: 95rem;
}
footer p:nth-child(2){
    width: 35%;
    color: #191826;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.625rem;
    margin-left: 10rem;
}
.last-eq{
    display: flex;
}
.icons{
    display: flex;
    width: 6.25rem;
    height: 1.25rem;
    gap: 1.5rem;
}





/* MEDIA QUERY TABLET */
@media  (min-width: 768px) and (max-width: 1024px){
body{
    overflow-x: hidden;
}
.container{
    width: 88%;
}
.bg-pattern{
    top: -2rem;
    width: 30%;
    left: 34rem;
}
.bottom p:nth-child(1){
    width: 32.5rem;
    color: #191826;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: -0.04544rem;
}
.bottom p:nth-child(2){
    width: 32.125rem;
    color: #191826;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; 
}
section{
    width: 85%;
    height: 37.5rem;
    border-radius: 0.75rem;
    background: #191826;
}
.phone{
    top: -10rem;
    left: 2rem;
}
.pattern2{
    left: 12rem;
}
.article{
    width: 24.9375rem;
    height: 34.125rem;
    top: 9rem;
    right: 3rem;
    z-index: 1;
}
.article-info{
    width: 70%;
    margin: 3rem auto;
}
.article p:nth-child(1){
    width: 18.875rem;
    margin-bottom: 1rem;
}
.article p:nth-child(2){
    width: 18.875rem;
    color: #FCFAF9;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; 
    margin-bottom: 1rem;
}
.article p:nth-child(3){
    color: #FCFAF9;
    font-size: 4.0625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.25rem; 
}
.article p:nth-child(3) span{
    color: #FCFAF9;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem; 
    letter-spacing: -0.0125rem;
}
.article p:nth-child(4) {
    width: 18.5rem;
    height: 3.8125rem;  
    margin-top: 1rem;
}
.article p:nth-child(5) {
    margin-top: 1rem;
    width: 18.5rem;
    height: 3.8125rem;
}
footer{
    width: 85%;
}
footer p:nth-child(2){
    width: 21.875rem;
    margin-left: 0;
    margin-top: 2rem;
}
.last-eq{
    display: flex;
    flex-direction: column;
}
.icons{
    margin-top: 6rem;
}
}


/* MEDIA QUERY PHONE */
@media (min-width: 320px) and (max-width: 767px ){
    .container{
        width: 90%;
    }
    .bg-pattern{
        display: none;
        left: 15rem;
        top: 0;
        width: 30%;
    }
    body{
        width: 100vw;
        height: 100vh;
    }
    .bottom p:nth-child(1){
        width: 20.4375rem;
        color: #191826;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3rem; 
        letter-spacing: -0.02844rem;
    }
    .bottom p:nth-child(2){
        width: 20.4375rem;
        color: #191826;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.625rem; 
    }
    section{
        left: 0;
        top: 42rem;
        width: 100%;
        height: 37.5rem;
    }
    .phone{
        width: 13.06075rem;
        height: 26.875rem;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -7rem;
    }
    .pattern2{
        left: 4rem;
        top: 0.5rem;
    }
    .article{
        width: 100%;
        height: 34.125rem;
        top: 23rem;
        right: 0;
    }
    .article-info{
        width: 80%;
    }
    .article p:nth-child(1){
       margin-bottom: 1rem;
    }
    .article p:nth-child(2){
        color: #FCFAF9;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.75rem; 
    }
    .article p:nth-child(4){
        width: 18.5rem;
        height: 3.8125rem;
    }
    .article p:nth-child(5){
        width: 18.5rem;
        height: 3.8125rem;
        margin-top: 1rem;
    } 
    footer{
        top: 103rem;
        /* height: 25vh; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    footer p:nth-child(2){
        margin-left: 0;
        width: 20.4375rem;
        color: #191826;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.625rem;
    }
    .last-eq{
        flex-direction: column;
        gap: 2rem;
    }
    
}